.app {
  background-color: white;
  
  height: 100vh;
  width: 100vw;
}

.company-logo {
  position: fixed;
  top: 1em; /* Adjust this value for the vertical positioning */
  left: 1em; /* Adjust this value for the horizontal positioning */
  display: flex;
  align-items: center;
}

.company-logo img {
  height: 35px !important; /* Set the height of the logo */
  width: auto;  /* Keep width auto to maintain aspect ratio */
  margin-right: 10px; /* Add space between logo and text if text is present */
}

.center-content {
  height: calc(75vh); /* Keep the height the same */
  width: calc(100vw - 4em);
  margin: 0 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Change this from center to flex-start */
  padding-top: 100px; /* Add padding to push the content down */
}

.pitch-line {
  font-size: 3em;
  max-width: 920px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #2e415aff; 
}

.description {
  font-weight: 400;
  max-width: 920px;
  padding-bottom: 32px;
  color: #2e415aff; 
}

.form-group {
  display: flex;
  gap: 16px;
}

.email-input, .demo-request {
  border-radius: 8px;
  border: 1px solid #222222;
  box-sizing: border-box;
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  margin: 0;
  outline: none;
  padding: 13px 23px;

  text-decoration: none;
}

.demo-request {
  background-color: #f77370ff;

  text-align: center;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.demo-request:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.demo-request:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.network-img {
  position: fixed;
  bottom: 10%;
  right: 10%;

  opacity: 70%;
  max-width: 30vw;
  max-height: 30vh;
}

